@media (max-width: 992px) {
    .myprofile{
        margin-top: 20px !important;
    }
    
}
.myprofile {
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
}

.App-link {
    color: #61dafb;
}

.mysocial {
    display: flex;
}

.icon-item {
    margin-right: 10px;
    cursor: pointer;
}

.item-img {
    margin: auto;
}

.myname {
    color: #fff;
    margin-top: auto;
}

.myemail {
    color: #fff;
}